
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

body , html{
    height: 100%;
    background: #f9f9f9;
    font-family: NotoSansHans-Regular,AvenirNext-Regular,arial,Hiragino Sans GB,
        "Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
}
ul{
    list-style-type: none;
}

a, a:hover,a:visited {
    color: #555;
    text-decoration: none;
    cursor: pointer;
}

.el-dialog__wrapper, .v-modal{
       background-color: rgba(255, 255, 255, 0.7); 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}

.avatar{
    width:60px;
    height:60px;
    border-radius:4px;
}

.gift-comment{
    margin-top:20px;
}  

.simditor-body img {
  max-width:100%;
}

/* app布局 */
.app .index{
    padding-top: 70px;
}
/* header */
.navbar-fixed-top .dropdown-menu li a .glyphicon {
    margin-right: 8px;
}
.navbar-header .navbar-brand.logo-name{
    color:#0084ff;
    font-weight: bold;
    font-size:28px;
    .en-logo-name{
        font-size:18px; 
        font-weight: normal;
    }
    @media (max-width: 1080px){
        .en-logo-name
        {
            display: none;
        }
    }

}
.navbar-default {
    .navbar-nav > .active > a,
    .navbar-nav > .active > a:hover,
        .navbar-nav > .active > a:focus {
        color: #0084ff;
        background-color:#fff;
        span{
            border-bottom:2px solid #0084ff;
        }
        @media (max-width: 768px){
            span{
                border-bottom:none;
            }
        }
    }
    .navbar-nav > li > a {
        font-size: 15px;
        color: #8590a6;
        padding-bottom:0px;
        span{
            padding-bottom:16px;
        }
        img{
            background:#eee;
            border-radius:4px;
        }

    }
    .navbar-nav > li > a:hover{
        color: #0084ff;
    }
    .search-input {
        width: 240px;
        transition: width .5s;
    }
    .search-input:focus {
        width: 320px;
    }
    @media (max-width: 1080px){
        .search-input, .search-input:focus
            {
            width:180px;
        }
    }
    .btn-search {
        background-color:#0084ff;
        color:#fff;
        padding:6px 14px;
        margin-left:15px;
    }
}
/*app 布局*/
.app{
    .forget-password, .reset-password{
        width:400px;
        margin:40px auto 0;
        padding:0 15px;
        
        .title{
            text-align: center;
            font-size:22px;
            margin-bottom: 15px;
        }
        .forget-password-form, .reset-password-form
        {
            background: #fff;
            padding:20px 20px 10px;
            border: 1px solid #d8dee2;
            border-radius: 5px;

            .el-form-item{
                margin-bottom: 15px;
                padding-top: 5px;
            }
            .el-input{
                margin:10px 0 5px;
            }
            label{
                margin-bottom: 0;
                line-height: normal;
                padding:0;
            }
            .btn-forget-password, .btn-reset-password{
                background: #409efe;
                color: #fff;
                margin-top: 10px;
            }
        }
    }
    
    /*文章列表*/
    .articles-list {
        box-shadow: 0px 1px 2px 0 rgba(101, 129, 156, 0.08);
        border: 1px solid #e3eaef;
        background: #FFFFFF;
        padding:15px;
        
        .media-list{
            padding:15px;
        }
        .title{
           font-size:18px;
           font-weight:700;
           color:#000;
           margin-bottom:5px;
           
           &:visited{
               color:#969696;
           }
           &:hover{
               text-decoration: underline;
               color:#ff2121;
           }
        }
        .excerpt{
            margin: 0 0 8px;
            font-size: 14px;
            line-height: 24px;
            color: #999;
        }
        .other-info{
            a{
                margin:0 5px 0 0;
                &:hover{
                    color:#ff2121;
                    text-decoration: underline;
                }
            }
            span{
               margin:0 5px;  
            }
            
        }
    }
}
/* default布局 */
.default{
    .logo {
        position: absolute;
        top: 56px;
        margin-left: 50px;

        .logo-name{
            font-size: 35px;
            color:#409efe;
            font-weight:bold;
        }
    }
    .main{
        .register, .login{
            width:400px;
            margin:100px auto 0;
            padding:0 15px;

            .title{
                text-align: center;
                font-size:22px;
                margin-bottom: 15px;
            }
            .register-form, .login-form
            {
                background: #fff;
                padding:20px 20px 10px;
                border: 1px solid #d8dee2;
                border-radius: 5px;

                .el-form-item{
                    margin-bottom: 15px;
                    padding-top: 5px;
                }
                .el-input{
                    margin:10px 0 5px;
                }
                label{
                    margin-bottom: 0;
                    line-height: normal;
                    padding:0;
                }

                #input-validate-code{
                    width:calc(100% - 100px);
                    display: inline-block;
                    margin-top: 0px;
                }
                .btn-validate-code{
                    background: #409efe;
                    color:#fff;
                }
                .btn-register, .btn-login{
                    background: #409efe;
                    color: #fff;
                    margin-top: 10px;
                }
                .redirect-reset-password{
                    float:right;
                    cursor: pointer;
                    color: #409efe;
                }
                
                .third-login{
                    line-height:40px;
                    float:right;
                    
                    .weixin{
                        width:30px;
                        margin:0 10px 0 5px;
                        cursor: pointer;
                    }
                    .weibo{
                        width:30px;
                        margin:0 5px 0 10px;
                        cursor: pointer;
                    }
                }
            }

            .redirect-login, .redirect-register{
                padding: 15px 20px;
                text-align: center;
                border: 1px solid #d8dee2;
                border-radius: 5px;
                margin-top: 15px ;
                font-size:16px;

                a{
                    color: #409efe;
                    cursor: pointer;
                }
            }
        }
    }
    @media (max-width: 992px){
        .logo{
            display:none;
        }
    }
}

.default .main .register .register-form {
    .countdown{
        background-color: #fff;
        color:#333;
        border-top:1px solid #dcdfe6;
    }
}

/*律师主页*/
.lawyer-profile{
    .info{
        padding:15px;
        background:#fff;
       img{
           width:80px;
           height:auto;
           border-radius:4px;
           background:#eee;
       }
    }
}

.user{
    .info{
       padding:15px;
       background:#fff;
       img{
           padding:15px;
           width:100%;
       }
       .info-item{
            margin-top:5px;
            border-top: 1px solid rgba(0, 0, 0, 0.05);
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            padding-bottom: 15px;
            padding-top: 10px;
            
            div{
                text-align:center;
            }
            .count{
                margin-top:10px;
            }
       } 
       p{
           width:100%;
           margin-top:20px;
           a{
               width:100%;
               .btn{
                    width:100%;
                }
           }
       }
    }
}
/* 个人中心*/
.user{
    .nav-pills > li.active > a,
    .nav-pills > li.active > a:hover,
        .nav-pills > li.active > a:focus {
        color: #646464;
        border-bottom: 2px solid #646464;
        background-color: #f9f9f9;
    }

    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 15px;
        border-radius:0;
    }
}

/* edit-user*/
.edit-user{
    .input-left{
        width:140px;
    }
    .avatar-default{
        width:80px;
        height:80px;
        border-radius:4px;
        background-color:#eee;
    }
    .edit-user-group{
        margin: 0;
        padding:15px 0;
        border-bottom:1px solid #f0f0f0;
    }
    input[type=text]{
        padding: 5px 10px;
        width:300px;
        font-size: 15px;
        border: 1px solid #c8c8c8;
        border-radius: 4px;
        background-color: hsla(0,0%,71%,.1);
    }
    textarea{
        padding: 5px 10px;
        width:500px;
        font-size: 15px;
        border: 1px solid #c8c8c8;
        border-radius: 4px;
        background-color: hsla(0,0%,71%,.1);
        outline:none;
    }
    .input-hide-file{
        position: absolute;
        display: inline-block!important;
        width: 82px;
        opacity: 0;
        top:0px;
    }
    .btn-avatar{
        position: relative;
        margin-left:60px;
        padding:4px 12px;
        border: 1px solid #0084ff;
        color: #0084ff;
        border-radius:3px;
    }
    .upload-tips{
        border:0 !important;
        color:#888;
    }
    .btn-avatar:hover{
        background-color: #A0C5E8;
        opacity: 0.7;
    }
    .btn-update-user{
        margin-top:15px;
        background-color:#0084ff;
    }
    .unbind-mobile{
        color:#0084ff;
        cursor:pointer;
        padding-left:10px;
        &:hover{
            color:#ff2121;
        }
    }
}

.article-detail{
    position:relative;
    
    .title{
        font-size:20px;
        margin-bottom: 10px;
        color:#333;
        font-weight:700;
    }
    .other{
        span{
            padding-right:15px;
        }
    }
    .article-content{
        margin-top: 15px;
        color:#333;
    }
    
    .tool-box{
        position:absolute;
        top:0;
        left:-95px;

        .tool-list{
            position:fixed;
        }
        li{
            height:70px;
            border:1px solid #eee;
            background:#fff;
            width:60px;
            text-align:center;
            line-height:70px;
            cursor:pointer;
            
            .tool-color{
                color:#ff2121;
            }
        }
    } 
    #comment-list {
        padding-left:0;
        .comment-other{
            line-height:30px;
            margin:5px 0;
        }
        .avatar{
            width:30px;
            height: auto;
            background:#eee;
        }
        .reply-list{
            background: #f2f2f2;
        }
        .reply-list-hide{
            display:none;
        }
        .reply-counter{
            color:#0084ff;
            cursor:pointer;
        }
    }
    
    @media (max-width: 768px){
        .tool-box{
            display:none;
        }
    }
}